@use "variables" as v;

$font-family-body: var(--font-family-body, v.$font-family-body);
$font-family-mono: var(--font-family-mono, v.$font-family-mono);

$font-size-body: var(--font-size-body, v.$font-size-body);
$font-size-mono: var(--font-size-mono, v.$font-size-mono);

$transition-duration: var(--transition-duration, v.$transition-duration);
$transition-timing-fn: var(--transition-timing-fn, v.$transition-timing-fn);

$theme-primary: var(--theme-primary, v.$theme-primary);
$theme-secondary: var(--theme-secondary, v.$theme-secondary);

$theme-primary-darker: var(--theme-primary-darker, v.$theme-primary-darker);
$theme-secondary-darker: var(--theme-secondary-darker, v.$theme-secondary-darker);

$theme-primary-lighter: var(--theme-primary-lighter, v.$theme-primary-lighter);
$theme-secondary-lighter: var(--theme-secondary-lighter, v.$theme-secondary-lighter);