@use 'variables' as v;
@use 'sass:meta';

:root {
  --font-family-body: #{meta.inspect(v.$font-family-body)};
  --font-family-mono: #{meta.inspect(v.$font-family-mono)};

  --font-size-body: #{v.$font-size-body};
  --font-size-mono: #{v.$font-size-mono};

  --transition-duration: #{v.$transition-duration};
  --transition-timing-fn: #{v.$transition-timing-fn};

  --theme-primary: #{v.$theme-primary};
  --theme-secondary: #{v.$theme-secondary};

  --theme-primary-darker: #{v.$theme-primary-darker};
  --theme-secondary-darker: #{v.$theme-secondary-darker};

  --theme-primary-lighter: #{v.$theme-primary-lighter};
  --theme-secondary-lighter: #{v.$theme-secondary-lighter};

  --theme-body-text: #{v.$theme-body-text};
  --theme-secondary-text: #{v.$theme-secondary-text};

  --theme-control-text: #{v.$theme-control-text};
  --theme-control-foreground: #{v.$theme-control-foreground};

  --theme-body-background: #{v.$theme-body-background};

  --theme-card-background: #{v.$theme-card-background};
  --theme-card-background-lighter: #{v.$theme-card-background-lighter};
  --theme-card-background-transparent: #{v.$theme-card-background-transparent};

  --theme-focus-ring: #{v.$theme-focus-ring};
}